
*{
    margin: 0;
    padding: 0;

}
.display{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px red;
    height: 100vh; 
    line-height: 5;
}